@import "./var.css";

@font-face {
    font-family: "Recursive";
    src: local("Recursive"), url("https://asset.stio.studio/font.ttf");
}

* {
    font-family: var(--font);
    color: var(--text);
}
.loaded * {
    transition: var(--main-transition);
}
body {
    background-color: var(--background);
    margin: 0;
}
h1 {
    margin: 0;
}
.header {
    text-align: center;
}
.box {
    font-size: 30px;
    width: calc(var(--header-info-width) - 30);
    background-color: var(--primary-ops-50);
    border-radius: var(--main-border-radius);
    padding: 10px 30px;
}
.bigBox {
    font-size: 30px;
    width: calc(var(--header-info-width) - 30);
    background-color: var(--primary-ops-50);
    margin: var(--header-info-margin);
    border-radius: var(--main-border-radius);
    padding: 10px 30px;
}
.type-B.bigBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    width: calc(var(--header-info-width) - 30);
    background-color: var(--primary-ops-50);
    margin: var(--header-info-margin);
    border-radius: var(--main-border-radius);
    padding: 10px 0px 0px 10px;
}
.redBox {
    background-color: var(--red);
}
.box-shadow {
    filter: var(--main-box-shadow);
}
.box-shadow:hover {
    filter: var(--main-box-shadow-hover);
}
.header-heading h1 {
    margin: 20px 0px;
    font-size: 80px;
}
.header-image {
    position: relative;
    margin: 0px calc(50% - (var(--header-image-width)/2));
    width: var(--header-image-width);
    height: calc(var(--header-image-width) - 40px);
    border-radius: 50% 50% 0 0;
    background-color: var(--primary-ops-50);
}
.header-image img {
    width: calc(var(--header-image-width) - 40px);
    margin-top: 10px;
}
@media screen and (max-width: 300px) {
    .header-image img {
        width: calc(var(--header-image-width) - 100px);
        margin-top: 10px;
    }
    .header-image {
        margin: 0px calc(50% - ((var(--header-image-width) - 100px) / 2));
        width: calc(var(--header-image-width) - 100px);
        height: calc(var(--header-image-width) - 100px);
        border-radius: 50% 50% 0 0;
        background-color: var(--primary-ops-50);
    }
}
.links {
    display: contents;
}
.links svg {
    width: 80px;
    height: 80px;
    margin: 15px;
    fill: var(--text-ops-50);
}
.links svg:hover {
    fill: var(--text);
}

.font-size.px40 {
    font-size: 40px;
}
.display-flex {
    display: flex;
}
.overflow-overlay {
    overflow: overlay;
}
.overflow-overlay::-webkit-scrollbar {
    display: none;
}
.red {
    color: red;
}
.centerText {
    text-align: center;
}
.xCenter {
    margin: 0 auto;
}
.red-glow {
    filter: drop-shadow(0px 0px 5px red);
}
.width100per {
    width: 100%;
}
.noMargin {
    margin: 0;
}
.text-decoration-none {
    text-decoration: none;
}

.projectButton {
    background-color: var(--primary-ops-50);
    border: 0;
    border-radius: var(--main-border-radius);
    width: 30px;
}
.projectButton-left {
    margin: 0 10px 0 -10px;
}
.projectButton-right {
    margin: 0 -10px 0 10px;
}
.overflow-hidden {
    overflow: hidden;
}
.slideBox-list {
    border-radius: var(--main-border-radius);
}
.slideBox-track {
    width: 2100px;
    height: 100px;
    display: flex;
    left: 0px;
    position: relative;
}

.type-A .projectType-A .project {
    margin: 0 10px 0 0;
    width: 160px;
    min-width: 160px;
    font-size: 30px;
    background-color: var(--primary-ops-50);
    border-radius: var(--main-border-radius);
}
.type-A .projectType-A .project-header {
    margin: 5px 0;
    height: 20px;
}
.type-A .projectType-A .project-content {
    height: 70px;
    width: 160px;
}
.type-A .projectType-A .project-content img {
    object-fit: cover;
    height: 70px;
    margin: 0 auto;
    border-radius: var(--main-border-radius);
}

.type-A .projectType-B .project {
    display: flex;
    margin: 0 10px 0 0;
    height: 100%;
    width: 160px;
    min-width: 160px;
    font-size: 30px;
    background-color: var(--primary-ops-50);
    border-radius: var(--main-border-radius);
}
.type-A .projectType-B .project-header {
    margin: auto 0;
}
.type-A .projectType-B .project-content {
    margin: auto 0;
    height: 70px;
    width: 160px;
}
.type-A .projectType-B .project-content img {
    object-fit: cover;
    height: 70px;
    margin: 0 auto;
    border-radius: var(--main-border-radius);
}

.type-A .projectType-C .project {
    margin: 0 10px 0 0;
    width: 160px;
    min-width: 160px;
    font-size: 30px;
    background-color: var(--primary-ops-50);
    border-radius: var(--main-border-radius);
}
.type-A .projectType-C .project-header {
    margin: 5px 0;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type-A .projectType-C .project-content {
    display: none;
}


.type-B .projectType-C {
    display: block;
    width: fit-content;
}
.type-B .projectType-C .project {
    margin: 0 10px 10px 0;
    width: 160px;
    min-width: 160px;
    font-size: 30px;
    background-color: var(--primary-ops-50);
    border-radius: var(--main-border-radius);
}
.type-B .projectType-C .project-header {
    margin: 5px 0;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type-B .projectType-C .project-content {
    display: none;
}

.grid {
    text-align: center;
}

.bigBox-header {
    display: flex;
    align-items: center;
    width: 100%;
}
.type-B .bigBox-header {
    padding-left: 20px;
    padding-right: 30px;
}
.bigBox-header h3 {
    margin-left: auto;
}

.anchorjs-link {
    display: block;
    height: 42.2px;
    aspect-ratio: 1/1;
    text-decoration: #ffffffff;
    background-image: url(https://asset.stio.studio/icon/anchorjs-link.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: auto;
    opacity: 0.1;
}
.anchorjs-link:hover {
    opacity: 0.5;
}
.anchorjs-link.active {
    opacity: 1;
}

.marging-10per {
    margin-top: 10%;
}
.height-15px {
    height: 15px;
}
.height-100per {
    height: 100%;
}
.options {
    background-color: var(--primary-ops-50);
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 30px;
}
.line {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    margin: 20px 0;
}
.text-color {
    background-color: var(--text);
}
.white {
    background-color: white;
}
.font-size-20px {
    font-size: 20px;
}

.last-updated {
    font-size: 20px;
    background-color: var(--primary-ops-50);
    border-radius: var(--main-border-radius);
}
@media screen and (min-width: 600px) {
    .widgit {
        position: absolute;
        right: 20px;
        top: 20px;
        max-width: calc(40% - 110px);
        padding: 5px;
    }        
}
@media screen and (max-width: 600px) {
    .widgit {
        width: calc(var(--header-info-width) - 30); 
        margin: var(--header-info-margin);
        padding: 5px;
    }        
}


.footer {
    text-align: center;
}
.footer, .footer.projectBox .project, .footer .projectButton {
    background-color: var(--secondary-ops-50);
}
