:root {
    --text: #ddfcf3;
    --text-ops-50: #ddfcf380;
    --background: #02160f;
    --background-ops-50: #02160f80;
    --primary: #86f5ca;
    --primary-ops-50: #86f5ca80;
    --secondary: #0c419c;
    --secondary-ops-50: #0c419c80;
    --accent: #2123ed;
    --accent-ops-50: #2123ed80;


    /* --test: #ff0000;

    --main-background-color: #070F12;
    --main-text-color: #DCEDF2;
    --main-link-color: #DCEDF2;
    --main-link-hover-color: #93C4D6;
    --main-box-shadow-color: #efd8;
    --main-box-shadow-color-hover: #efd;
    
    --orange-background-color: #ffab1970;
    --footer-background-color: #4d97ff70; */
    
    
    --header-image-width: 200px;
    --red: #e257;
    --main-border-radius: 10px;
    --main-transition: 0.7s;
    --main-box-shadow: drop-shadow(10px 10px 7px  var(--text-ops-50));
    --main-box-shadow-hover: drop-shadow(12px 12px 10px var(--text));
    --font: "Recursive", cursive;
}
[data-theme="dark"] {
    --text: #edffdb;
    --text-ops-50: #edffdb80;
    --background: #120024;
    --background-ops-50: #12002480;
    --primary: #ffab1a;
    --primary-ops-50: #ffab1a80;
    --secondary: #4d97ff;
    --secondary-ops-50: #4d97ff80;
    --accent: #91d84b;
    --accent-ops-50: #91d84b80;
}
[data-theme="light"] {
    --text: #122400;
    --text-ops-50: #12240080;
    --background: #eddbff;
    --background-ops-50: #eddbff80;
    --primary: #e69100;
    --primary-ops-50: #e6910080;
    --secondary: #004ab3;
    --secondary-ops-50: #004ab380;
    --accent: #6eb427;
    --accent-ops-50: #6eb42780;
}
@media (prefers-color-scheme: dark) {
    [data-theme="default"] {
        --text: #edffdb;
        --text-ops-50: #edffdb80;
        --background: #120024;
        --background-ops-50: #12002480;
        --primary: #ffab1a;
        --primary-ops-50: #ffab1a80;
        --secondary: #4d97ff;
        --secondary-ops-50: #4d97ff80;
        --accent: #91d84b;
        --accent-ops-50: #91d84b80;
    }
}
@media (prefers-color-scheme: light) {
    [data-theme="default"] {
        --text: #122400;
        --text-ops-50: #12240080;
        --background: #eddbff;
        --background-ops-50: #eddbff80;
        --primary: #e69100;
        --primary-ops-50: #e6910080;
        --secondary: #004ab3;
        --secondary-ops-50: #004ab380;
        --accent: #6eb427;
        --accent-ops-50: #6eb42780;
    }
}


@media screen and (max-width: 940px) {
    :root {
        --header-info-width: calc(100% - 50px);
        --header-info-margin: 0px 25px 20px 25px;
    }
}
@media screen and (min-width: 940px) {
    :root {
        --header-info-width: 70%;
        --header-info-margin: 0px 15% 20px 15%;
    }
}






[data-theme="RealTimeColorsLight"] {
    --text: #0f0f0f;
    --text-ops-50: #0f0f0f80;
    --background: #ffffff;
    --background-ops-50: #ffffff80;
    --primary: #155831;
    --primary-ops-50: #15583180;
    --secondary: #d7e4dc;
    --secondary-ops-50: #d7e4dc80;
    --accent: #c20002;
    --accent-ops-50: #c2000280;
}
[data-theme="RealTimeColorsDark"] {
    --text: #f0f0f0;
    --text-ops-50: #f0f0f080;
    --background: #000000;
    --background-ops-50: #00000080;
    --primary: #a9eac4;
    --primary-ops-50: #a9eac480;
    --secondary: #1b2720;
    --secondary-ops-50: #1b272080;
    --accent: #ff3d40;
    --accent-ops-50: #ff3d4080;
}
[data-theme="gruvboxLight"] {
    --text: #ebdbb2;
    --text-ops-50: #ebdbb280;
    --background: #282828;
    --background-ops-50: #28282880;
    --primary: #8ec07c;
    --primary-ops-50: #8ec07c80;
    --secondary: #458588;
    --secondary-ops-50: #45858880;
    --accent: #fabd2f;
    --accent-ops-50: #fabd2f80;
}
[data-theme="gruvboxDark"] {
    --text: #f8f8f1;
    --text-ops-50: #f8f8f180;
    --background: #0e0e07;
    --background-ops-50: #0e0e0780;
    --primary: #a99e47;
    --primary-ops-50: #a99e4780;
    --secondary: #5f5925;
    --secondary-ops-50: #5f592580;
    --accent: #8c8131;
    --accent-ops-50: #8c813180;
}
[data-theme="offGreenLight"] {
    --text: #171807;
    --text-ops-50: #17180780;
    --background: #fbfcf3;
    --background-ops-50: #fbfcf380;
    --primary: #666c1e;
    --primary-ops-50: #666c1e80;
    --secondary: #a8d978;
    --secondary-ops-50: #a8d97880;
    --accent: #53af31;
    --accent-ops-50: #53af3180;
}
[data-theme="offGreenDark"] {
    --text: #f7f8e7;
    --text-ops-50: #f7f8e780;
    --background: #0b0c03;
    --background-ops-50: #0b0c0380;
    --primary: #dae193;
    --primary-ops-50: #dae19380;
    --secondary: #578726;
    --secondary-ops-50: #57872680;
    --accent: #70ce4f;
    --accent-ops-50: #70ce4f80;
}
[data-theme="pink"] {
    --text: #fbe6e8;
    --text-ops-50: #fbe6e880;
    --background: #150305;
    --background-ops-50: #15030580;
    --primary: #ed8b94;
    --primary-ops-50: #ed8b9480;
    --secondary: #158a3d;
    --secondary-ops-50: #158a3d80;
    --accent: #23cbde;
    --accent-ops-50: #23cbde80;
}
[data-theme="lateSunsetDark"] {
    --text: #FFFFFF;
    --text-ops-50: #FFFFFF80;
    --background: #1A1A1A;
    --background-ops-50: #1A1A1A80;
    --primary: #FF4500;
    --primary-ops-50: #FF450080;
    --secondary: #FFA64D;
    --secondary-ops-50: #FFA64D80;
    --accent: #383838;
    --accent-ops-50: #38383880;
}
[data-theme="lateSunsetLight"] {
    --text: #000000;
    --text-ops-50: #00000080;
    --background: #e6e6e6;
    --background-ops-50: #e6e6e680;
    --primary: #ff5c1f;
    --primary-ops-50: #ff5c1f80;
    --secondary: #def480;
    --secondary-ops-50: #def48080;
    --accent: #c7c7c7;
    --accent-ops-50: #c7c7c780;
}
[data-theme="testTheme"] {
    --text: #000000;
    --text-ops-50: #00000080;
    --background: #e6e6e6;
    --background-ops-50: #e6e6e680;
    --primary: #ff5c1f;
    --primary-ops-50: #ff5c1f80;
    --secondary: #def480;
    --secondary-ops-50: #def48080;
    --accent: #c7c7c7;
    --accent-ops-50: #c7c7c780;
}